body {
	background: #ecf0f1;
	font-family: 'Roboto', sans-serif;
	font-weight: 500;
	color: #f37e32;
	-webkit-font-smoothing: antialiased;
}

h1 {
	font-size: 2em !important;
	margin-top: 2em;
	margin-bottom: 1em;
	color: #e74c3c;
}

table {
	background: #FFFFFF;
	border: 1px solid #9b59b6;
}

.table-bordered>thead>tr>th, .table-bordered>tbody>tr>th, .table-bordered>tfoot>tr>th, .table-bordered>thead>tr>td, .table-bordered>tbody>tr>td, .table-bordered>tfoot>tr>td {
	border: 1px solid #9b59b6;
}

.thumb {
	width: 75px;
}

td.genre {
	background: #1abc9c;
	color: #FFFFFF;
}


