<div class="row-fluid">
<ul class="opinions">
    {% for post in posts %}
    <div class="row-fluid">
        <li class="slide col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 col-sm-12 col-xs-12">
            <div class="row-fluid question">
                <p>{{ post.prompt.text }}</p>
            </div>
            <div class="row-fluid opinion">                
                    <p>{{ post.body }}</p>
                    {% if post.image_file %}
                    <img src="/static/data/images/{{post.image_file}}.png" width="100%">
                    {% endif %}
            </div>
             <div class="row-fluid author">
                    <p>- <em>{{ post.name }}</em></p>               
            </div>
            <div class="row-fluid vote">
                <div data-post="{{post.id}}" data-vote="yay" class="yay v col-sm-1 col-xs-2">Yay</div><div data-post="{{post.id}}" class="yay-count col-sm-1 col-xs-2">{{post.yay}}</div>
                <div data-post="{{post.id}}" data-vote="nay" class="nay v col-sm-1 col-sm-offset-8 col-xs-2 col-xs-offset-4">Nay</div><div data-post="{{post.id}}" class="nay-count col-sm-1 col-xs-2">{{post.nay}}</div>
            </div>
        </li>
    </div>
    {% endfor %}
</ul>
</div>
