{% extends "poll/plain_base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "_macros.html" as macros %}

{% block title %}The General Opinion{% endblock %}

{% block page_content %}

<div class="row-fluid">
	<form method="post" class="form" role="form" action="/poll/vote">
	<h4 class="prompt text-center col-lg-12 col-md-12 col-sm-12">  {{form.random_prompt.text}}  </h4>
	<div class="row-fluid">
		<div class="webform col-lg-12 col-md-12 col-sm-12 col-xs-12">
		<div class="row-fluid">

			<div class="col-lg-1 col-md-1 col-sm-2 col-xs-2">
				<label for="name" style="font-size : 1.8em; line-height: 1.8em; vertical-align: middle">Name:</label>
			</div>
			<div class="col-lg-11 col-md-11 col-sm-10 col-xs-10">
				{{ form.name(class="form-control", placeholder="Name/Alias") }}
				{% for error in form.name.errors %}
				            <span class="error_message" style="color: red">{{ error }}</span>
				        {% endfor %}
			</div>
			<hr class="col-lg-12 col-md-11 col-sm-11 col-xs-11 seperator"/>
		</div>

	    <div class="row-fluid">
			{{ form.hidden_tag() }}
				<div class="form-group">
					{{ form.prompt(class="form-control", value=form.random_prompt.id) }}
				</div>
				<div class="form-group col-lg-12 col-md-12 col-xs-12">
					{{ form.body(class="form-control") }}
					{% for error in form.body.errors %}
				            <span class="error_message" style="color: red">{{ error }}</span>
				        {% endfor %}
				</div>
		</div>

			<div class="row-fluid">
				<div class="form-group col-lg-4 col-md-4 col-sm-4">
					{{ form.age(class="form-control", placeholder="Age", type="number") }}
						{% for error in form.age.errors %}
				            <span class="error_message" style="color: red">{{ error }}</span>
				        {% endfor %}
				</div>
				<div class="form-group col-lg-4 col-md-4 col-sm-4">
					{{ form.gender(class="form-control", placeholder="Gender") }}
				</div>
				<div class="form-group col-lg-4 col-md-4 col-sm-4">
					{{ form.passion(class="form-control", placeholder="Profession/Passion") }}
				</div>
			</div>
		</div>

	<div class="row-fluid submit-stuff">
		<div class="form-group col-lg-2 col-lg-offset-10 col-md-3 col-sm-4 col-xs-5">
			{{ form.submit(class="form-control", value="Save & Print") }}
		</div>		
	</div>

    </form>

	</div>
</div>

{% endblock %}

{% block scripts %}
{{ super() }}
<script>
	var idleTime = 0;
	$(document).ready(function() {

		$('#prompt').hide()

        var textarea = document.getElementById("body");
		var heightLimit = 1000; /* Maximum height: 200px */

		textarea.oninput = function() {
		  textarea.style.height = ""; /* Reset the height*/
		  textarea.style.height = Math.min(textarea.scrollHeight, heightLimit) + "px";
		};

		$('input').attr('autocomplete', 'off');

		checkEntry();


		function checkEntry() {
			$('input, select, textarea').each(function(i, el) {
				value = $(el).val()

				if (value === '') {
					$(el).css({ 'border' : '2px solid #ecf0f1' })

				} else {
					$(el).css({ 'border' : '2px solid #FFF'})
				}

			})
		}

		$('input, select, textarea').keyup(function() {
			checkEntry();
		});

		

		

		$( ".help" ).click(function() {
		  $( ".about" ).toggle( "fast", function() {
		    var visible_about = $('.about').is(":visible")
		
			if (visible_about) {
				console.log(visible_about)
				$('.form-group, h4, .webform').not('.help, .about').addClass('blurred').off('click');

			} else {
				$('.form-group, h4, .webform').not('.help, .about').removeClass('blurred');
			}
		  });
		});

		


		function marginss() {
			$('.container').css({
				position:'absolute',
				left: ($(window).width() - $('.container').outerWidth())/2,
				top: ($(window).height() - $('.container').outerHeight())/8
			});

			$('.about').css({
				position:'absolute',
				top: ($(window).height() - $('.about').outerHeight())/2
			});

		}

		$(window).resize(function(){
			marginss();
		});

		var idleInterval = setInterval(timerIncrement, 1000); // 1 minute

	    //Zero the idle timer on mouse movement.
	    $(this).mousemove(function (e) {
	        idleTime = 0;
	    });
	    $(this).keypress(function (e) {
	        idleTime = 0;
	    });

		marginss();
	});

	function timerIncrement() {
    idleTime = idleTime + 1;
    if (idleTime > 120) { 
        window.location.href = '{{url_for("poll.home")}}'
    }

}
</script>
{{ pagedown.include_pagedown() }}
{% endblock %}

