{% extends "poll/plain_base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "_macros.html" as macros %}

{% block title %}The General Opinion{% endblock %}

{% block page_content %}

<div class="row-fluid">
	{% if current_user.is_authenticated %}
	<div class="login col-lg-2 col-lg-offset-10 col-md-3 col-md-offset-10 col-sm-2 col-sm-offset-10 col-xs-3 col-xs-offset-9"><a href="{{ url_for('main.user', username=current_user.username) }}">Admin</a></div>
	{% else %}
	<div class="login col-lg-2 col-lg-offset-10 col-md-3 col-md-offset-10 col-sm-2 col-sm-offset-10 col-xs-3 col-xs-offset-9"><a href="{{ url_for('auth.login') }}">Login</a></div>
	{% endif %}
</div>
<div class="row">
	<div class="titlebox col-lg-7 col-lg-offset-2 col-md-7 col-md-offset-2 col-sm-7 col-sm-offset-2 col-xs-7 col-xs-offset-2">
		<p>THE<br/> GENERAL<br/> OPINION </p>
	</div>
</div>

{% endblock %}

{% block scripts %}
{{ super() }}

<script>
	
	$(document).ready(function() {

		$('body').css({
			'background' : '#f37e32',
			'color' : '#08777E'
		});

		$('.titlebox').css({
			'-webkit-box-shadow' : '1em 1em 0px 0px rgba(243,126,50,1)',
		    '-moz-box-shadow' : '1em 1em 0px 0px rgba(243,126,50,1)',
		    'box-shadow' : '1em 1em 0px 0px rgba(8,119,126,1)'
		});

		function marginss() {
			$('.titlebox').css({
				position:'absolute',
				top: ($(window).height() - $('.titlebox').outerHeight())/2
			});

		}

		marginss();
		$(window).resize(function(){
			marginss();
		});

		$('.titlebox').click(function() {
		})

		
	});
</script>
{{ pagedown.include_pagedown() }}
{% endblock %}
