{% extends "lastfm_base.html" %}

{% import "_macros.html" as macros %}

{% block title %}The General Opinions{% endblock %}

{% block page_content %}
<h1>Justin Bieber's Journey into Obscurity</h1>
<div class="row-fluid">
	<table class="table table-bordered col-lg-12">
		{% for artist in bieber.children %}
			<div class="row-fluid">
				<tr>
					<td class="col-lg-1 col-xs-4"><img src="{{ artist.img_url }}" class="thumb img-circle"></td>
					<td class="col-lg-3 col-xs-1"><h3><a href="{{ artist.artist_url }}" target="blank">{{ artist.artist }}</a></h3></td>
					<td class="col-lg-1 col-xs-1 genre">{{ artist.genre }}</td>
					<td class="col-lg-1 col-xs-1 listens">{{ artist.artist_listens }}</td>
					<td class="col-lg-3 col-xs-1">{{ artist.top_track }}</td>
					
				</tr>
			</div>
		{% endfor %}
	</table>
</div>
{% endblock %}

{% block scripts %}
{{ super() }}
<script>
function calc_range(value) {
	var most_listens = parseInt('{{ most_listens }}');
	var least_listens = parseInt('{{ least_listens }}');
	return range = parseInt(( (value - least_listens) / (most_listens - least_listens) ) * (255 - 1) + 1)
}


$('td.listens').each(function() {
	var value = $(this).html();
	var int_val = parseInt(value);

	var saturation = calc_range(int_val);

	$(this).css({
		'background' : 'rgb('+saturation+', 152, 240)'
	})
})

</script>
{% endblock %}